i{
  text-align: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* A kilépő gomb az overlay jobb felső sarkában */
.closeBtn {
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
  background: transparent;
  border: none;
  font-size: 1rem;
  color: white;
  cursor: pointer;
}

/* Fix méretű popup */
.popup {
  background:#1b5e5d;
  color: white;
  width: 90%;
  height: 80%;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  position: relative;
  justify-content: center;
}

.content {
  overflow-y: auto;
  text-align: center;
  font-family:serif;
  font-size: 3rem;
  font-style: bold;
  padding: 1rem;
}

@media (max-width: 768px) {
  .popup {
    width: 90%;
    font-size: 0.9rem;
    padding: 1rem;
  }

  .overlay {
    padding: 0.5rem;
  }

  .content {
  overflow-y: auto;
  text-align: center;
  font-family:serif;
  font-size: 1.5rem;
  font-style: bold;
  padding: 1rem;
}
}
