.contentText {
  overflow-y: auto;
  text-align: center;
  font-family: 'Courier New';
  font-size:1.5rem;
}

/* Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Videó és film képek */
.musicPic{
  max-width: 100%;
  max-height: 50vh;   /* popup magasságának része */
  object-fit: contain;
  display: block;
  margin: 0 auto;
}
.videoPic{
  max-width: 100%;
  max-height: 20vh;   /* popup magasságának része */
  object-fit: contain;
  display: block;
  margin: 0 auto;
}
.filmPic {
  max-width: 100%;
  max-height: 20vh;   /* popup magasságának része */
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

.videoLinks {
  display: flex;              /* egymás mellé */
  justify-content: center;    /* középre igazítva */
  align-items: center;        /* függőlegesen középre */
  gap: 1rem;                  /* térköz a két logó között */
}


/* Kilépő gomb */
.closeBtn {
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}

/* Popup */
.popup {
  background: #1b5e5d;
  color: white;
  width: 90%;
  height: 80%;
  padding: 1rem;              /* auto helyett fix padding */
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* szöveg fent, kép alatta */
  gap: 1rem;                   /* kontrollált térköz */
}

/* Szöveges tartalom */
.content {
  text-align: center;
  font-family: 'Courier New';
  font-size:1.5rem;
  padding: 4rem;
}

.centered {
  flex: 1;                     /* kitölti a popup magasságát */
  display: flex;
  justify-content: center;     /* vízszintesen */
  align-items: center;         /* vertikálisan */
  text-align: center;
  font-family: 'Courier New';
  font-size:1.5rem;
  padding: 1rem;
}

/* Food típus */
.foodPic {
  display: flex;
  justify-content: center;
  align-items: center;
}

.foodPic img {
  max-width: 60%;
  max-height: 60%;
  object-fit: contain;    /* arányosan kicsinyítse */
  display: block;
  margin: 0 auto;
}

/* Mobil */
@media (max-width: 768px) {
  .popup {
    max-width: 90%;
    font-size: 0.9rem;
    padding: 0.5rem; /* auto helyett fix */
  }

  .content {
    overflow-y: auto;
    text-align: center;
    font-family: serif;
    font-size:1.5rem;
    font-weight: bold; /* helyes, ne font-style */
  }

  .foodPic img {
    max-width: 100%;
    max-height: 70vh;   /* popup magasságához igazítva */
    object-fit: contain;
  }
}