.header {
  width: 100%;
  text-align: center;
  padding: 2rem;
}

.banner-img {
  width: 100%;
  height: auto;
  object-fit: scale-down;
}

@media (max-width: 768px) {
  .header {
    padding: 1rem;
  }
  .banner-img {
    max-height: auto;
    max-width: 768px;
    width: 100%
  }

}

