.header {
  width: 100%;
  text-align: center;
}

.banner_img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

@media (max-width: 768px) {
  .header {
    padding: 1rem;
    width:100%
  }
  .banner_img {
    width: 100%;     /* mindig kitölti a rendelkezésre álló szélességet */
    height: auto;    /* arányosan zsugorodik/nagyítódik */
    display: block;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .banner_img {
    width: 90%;   /* kisebb szélesség */
    margin: 0 auto;
  }
}


@media (min-width: 1201px) {
  .header {
    width: 70%; /* nagy kijelzőn kisebb szélesség */
    margin: 2rem auto 0 auto;
    padding: 5rem;
  }
}


