.window {
  aspect-ratio: 1 / 1; /* square */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
  overflow: hidden;
}


.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}