.window {
  aspect-ratio: 1 / 1; /* square */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}


.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.clickable {
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.clickable:hover {
  transform: scale(1.03);
}
