body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 1rem; /* inner margin */
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* fix 3 col*/
  grid-template-rows: repeat(8, auto);   /* fix 8 raw */
  gap: 1rem;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  box-sizing: border-box;
}

@media (min-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr); /* 4 oszlop */
    grid-template-rows: repeat(6, auto);   /* 6 sor */
  }
}

